# .coveragerc
[run]
source = PackLab
branch = True
relative_files = True
parallel = True
omit =
    **/__init__.py
    **/_version.py
    **/directories.py
    **/__main__.py

[report]
skip_covered = True
show_missing = True
precision = 2

[html]
directory = htmlcov

[xml]
output = coverage.xml
