
# Ignore all
/*

# Except ...
!.github
!conda.recipe
!conda.recipe/meta.yaml
!.gitmodules
!extern
!PackLab
!development
!docs
!tests
!tools
!tools/release_tag.py
!.flake8
!.gitignore
!.pre-commit-config.yaml
!LICENSE
!meta.yaml
!pyproject.toml
!README.rst
!CONTRIBUTING.md
!CITATION.cff
!AGENTS.md
!notebook.ipynb
!CMakeLists.txt
!.zenodo.json
!pytest.ini
!.coveragerc
!matlab
!.zenodo.json

# But ignore docs/build inside docs and code
docs/build/
docs/source/gallery/
docs/manuscript/*.aux
docs/manuscript/*.bbl
docs/manuscript/*.blg
docs/manuscript/*.fdb_latexmk
docs/manuscript/*.fls
docs/manuscript/*.glg
docs/manuscript/*.glo
docs/manuscript/*.gls
docs/manuscript/*.ist
docs/manuscript/*.log
docs/manuscript/*.out
docs/manuscript/*.pdf
docs/manuscript/**/*.aux
docs/manuscript/**/*.bbl
docs/manuscript/**/*.blg
docs/manuscript/**/*.fdb_latexmk
docs/manuscript/**/*.fls
docs/manuscript/**/*.glg
docs/manuscript/**/*.glo
docs/manuscript/**/*.gls
docs/manuscript/**/*.ist
docs/manuscript/**/*.log
docs/manuscript/**/*.out
docs/manuscript/**/packlab.pdf

# Compiled files in the project
*__pycache__*
*.DS_Store*
*.so*
*.a*
*.cmake
*CMakeFiles*
*Makefile*
!/Makefile

# Package specifics
